* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    text-align: center;
    position: relative;
    top: 50px;
}
.hrstyle{
    width: 80%;
    margin: 100px auto;
    border: 1px solid lightgray;
}
.box{
    width: 600px;
    display: flex;
    margin: 0 auto;
    height: 40px;
    position: relative;
    bottom: 80px;
}
#todo-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: 2px solid #3881ff;
    padding-left: 10px;
}
.todo-input::placeholder{
    color: lightgray;
    font-style: italic;
}

.todo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    bottom: 60px;
    gap: 50px;
}
.todo-section{
    width: 50%;
    text-align: center;
}
.text{
    display: inline-block;
    border-bottom: 2px solid lightgray;
    margin: 0 auto;
}


ul{
    list-style: none;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    
    position: relative;
    top: 20px;

    border-bottom: 3px solid lightgray;
    padding: 5px;
    width: 50%;
    gap: 20px;
    margin: 0 auto;
}
.button-style{
    background-color: rgb(231, 231, 231);
    border: none;
}